@namespace TDesignBlazor._6x.Component
@{
    var _size = string.IsNullOrEmpty(Size) ? "m" : Size.Substring(0, 1);
    var _tag = "button";
    var _href = "#";
    var _disabled = "";
    if (!string.IsNullOrEmpty(Href))
    {
        _tag = "a";
        _href = Href;
    }
    if (!string.IsNullOrEmpty(Tag))
    {
        _tag = Tag;
    }
    var hrefString = $"href='{_href}'";
    if (_tag != "a")
    {
        hrefString = "";
    }

    RenderFragment content = builder =>
    {
        if (!string.IsNullOrEmpty(Href))
        {
            if (Tag == "a" || Tag == "button")
            {
                builder.AddAttribute(2, "href", $"{_href}");
            }
        }

        builder.OpenElement(0, $"{Tag}");
        builder.AddAttribute(1, "type", $"{Type}");
        builder.AddAttribute(2, "class", $"t-button t-size-{Size.First()} t-button--variant-{Variant} t-button--theme-primary t-button--shape-{Shape} ");
        if (Disabled)
        {
            builder.AddAttribute(2, "class", $"t-button t-size-{Size.First()} t-button--variant-{Variant} t-button--theme-primary t-button--shape-{Shape} t-is-disabled");
            builder.AddAttribute(3, "disabled", $"disabled");
        }

        

        builder.OpenElement(4, "span");
        builder.AddAttribute(5, "class", "t-button__text");
        builder.AddContent(6, ChildContent);
        builder.CloseElement();
        builder.CloseElement();
    };
}
@content
@*@if (Disabled)
{
        <button type="@Type" class="t-button t-size-@_size t-button--variant-@Variant t-button--theme-primary t-button--shape-@Shape t-is-disabled" disabled="disabled" onclick="@OnClick">
            <span class="t-button__text">@ChildContent</span>
        </button>
}
else
{
        <button type="@Type" class="t-button t-size-@_size t-button--variant-@Variant t-button--theme-primary t-button--shape-@Shape" onclick="@OnClick">
            <span class="t-button__text">@ChildContent</span>
        </button>
}*@

@*@((MarkupString)MyProperty)*@
